{
    "env": {
        "browser": true,
        "es2021": true
    },
    "plugins": [
        "@html-eslint",
        "prettier"
    ],
    "overrides": [
        {
            "files": "*.html",
            "parser": "@html-eslint/parser",
            "extends": [
                "plugin:@html-eslint/recommended"
            ],
            "rules": {
                "@html-eslint/require-img-alt": 0
            }
        }
    ],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": 2,
        "no-unused-vars": 0
    }
}