/********   */

/* Product */

/********   */

/* Item Details */
.item {
    margin: 135px 0;
    display: flex;
    justify-content: center;
}

.item article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.item-img {
    width: 100%;
}

.item-img img {
    width: 100%;
    border-radius: 15px;
}

.item-content {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content h1 {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;
}

.item-content-title-price,
.item-content-description,
.item-content-settings {
    border-bottom: 1px solid white;
}

.item-content-title-price p {
    margin-top: 4px;
}

.item-content-description {
    display: flex;
    flex-direction: column;
}

.item-content-description-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
}

.item-content-settings {
    padding-top: 24px;
    padding-bottom: 18px;
}

.item-content-settings-color {
    margin-bottom: 10px;
}

.item-content-settings-color select,
.item-content-settings-quantity input {
    color: var(--footer-secondary-color);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #767676;
    text-align: center;
    text-align-last: center;
}

.item-content-settings-color select:focus,
.item-content-settings-quantity input:focus {
    outline: none;
}

.item-content-add-button {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.item-content-add-button button {
    font-size: 22px;
    border-radius: 40px;
    border: 0;
    background-color: var(--secondary-color);
    color: white;
    padding: 18px 28px;
    cursor: pointer;
}

.item-content-add-button button:hover {
    box-shadow: rgb(42 18 206 / 90%) 0 0 22px 6px;
}





/**************   */

/* Media queries */

/**************   */

@media (max-width: 991.98px) {
    .item article {
        width: 70%;
    }

    .item-content-settings-color,
    .item-content-settings-quantity {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-content-settings-color {
        margin-bottom: 26px;
    }
}

@media (max-width: 575.98px) { 
    .item article {
        width: 90%;
    }
}